.App {
  text-align: center;
  background-image: url("https://demo.nparoco.com/Vuexy/app-assets/images/backgrounds/chat-bg-2.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App__form{
 /* text-align: center; 
 justify-content: center;
 display: flex;*/
 
 background-color: azure;
 width: 90%;
margin: 20px;
 padding: 20px;
 position: fixed;
 bottom: 0;
 z-index: 1;
}
.App__formControl{
  display: flex !important;
  flex-direction: row !important;
 
}
.App__input{
  flex: 1 !important; 
}
.App__btn{
  flex: 0 !important; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
